


<form asp-action="Forgetpassword" method="post">
    <div class="row">
        <div class="col-1">
            <label class="form-label">Email: </label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" name="email"/>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-2">
            <input type="submit" value="Confirm" class="form-control" />
        </div>
    </div>   
</form>
<h2>@ViewBag.Message</h2>
